option_settings:
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: MY_DATABASE
   value: mydatabase.myinterneldomain.com
 - namespace: aws:elasticbeanstalk:application:environment  
   option_name: mynewvalue
   value: password1
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: foob
   value: bard
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: example
   value: com
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: dns
   value: internal

